html {
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Carme', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	background: linear-gradient(to right, #151B5455 , #f5f5f595);
	padding-bottom: 5rem;
	margin: 0;
	position: relative;
	min-height: 90%;
}

/* Golbal */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
} 

ul {
	margin: 0;
	padding: 0;
}

/*Header*/
header {
	padding-top: 30px;
	min-height: 70px;

}

header a {
	text-decoration: none;	
	color: #80808095;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #logo {
	float: left;
}

header #logo h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 15px;
}

header .highlight, header .current a {
	color: #151B54;
}

ul li a:hover {
	color: #151B54;
	text-decoration: underline overline;
}

a h1 .logo-link:hover {
	color: #151B54;
}

/*Content*/

#content {
	text-align: center;
	margin-bottom: 30px;
	color: #151B54;
}

#content h1 {
	margin-top: 100px;
	font-size: 70px;
	margin-bottom: 10px;
}

#content p {
	font-size: 20px;
	color: #151B5495;
	margin-bottom: 0;
}

#content p .glink {
	text-decoration: none;
	color: #151B5495;
}

#content p .glink:hover {
	color: #151B54;
}

.social-links {
	list-style-type: none;
	text-align: center;
}

.social-links li{
	display: inline;
}

.social-links i{
	font-size: 70px;
	margin: 1%;
	padding: 3%;
	color: #151B5495;
}
.social-links i:hover {
	color: #151B54;
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
  color: #151B5495;
  font-size: 25px;
}

form input {
	width: 50%;
    padding: 12px;
    border: 1px solid #151B54;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: 1px solid #151B54;
    color: #151B54;
}

.message {
	height: 100px;
}

.btn {
	width: 100px;
	color: #151B54;
	background-color: #f5f5f5;
}

.btn:hover {
	color: #f5f5f5;
	background-color: #151B54;
}

/*Media Queries*/

@media(max-width: 768px){
	header #logo,
	header nav,
	header nav li,
	form,
	article,
	aside{
		float:none;
		text-align:center;
		width: 100%;
	}

	header {
		padding-bottom: 20px;
	}

	#content h1{
		margin-top: 40px;
		font-size: 50px;
	}

	#content a p{
		font-size: 20px;
	}

	.social-links i{
	font-size: 40px;
}

	.copyright {
		font-size: 15px;
	}